body {
	min-width: 400px; /* Required to size the Browser Action popup */
}
textarea {
	width: 100%;
}
.small {
	font-size: 0.9em;
}

/* Increase spacing between sections */
h2 ~ h2 {
	margin-top: 2em;
}
